<div class="p-4 sm:p-6 rounded-lg" [ngClass]="{
    'post-card-1': postColor === 'teal',
    'post-card-2': postColor === 'green',
    'post-card-3': postColor === 'yellow'
  }">
    <div class="flex flex-col sm:flex-row sm:items-center gap-1 sm:gap-2 text-gray-700 font-semibold my-2">
        <span>{{ post.author }}</span>
        <span class="text-gray-400 text-xs sm:text-sm font-normal">
            {{ post.createdAt | formatoFecha }}
            @if(post.updatedAt) { - {{ post.updatedAt | formatoFecha }} }
        </span>
    </div>

    <div
        class="text-base sm:text-lg md:text-2xl font-serif italic text-gray-800 leading-snug sm:leading-relaxed mb-6 sm:mb-10">
        {{ post.body }}
    </div>

    <div class="flex items-center justify-between">
        
        <div class="flex items-center gap-2 text-gray-600 cursor-pointer hover:text-gray-900 transition">
            <lucide-icon name="message-circle" class="w-5 h-5" />
            <span class="text-sm font-medium">Comentarios</span>
        </div>

        
        <div class="flex items-center gap-4 text-gray-600">
            <button class="hover:text-yellow-600 transition" aria-label="Edit post">
                <lucide-icon name="pencil" class="w-5 h-5" />
            </button>

            <button class="hover:text-red-600 transition" aria-label="Delete post">
                <lucide-icon name="trash" class="w-5 h-5" />
            </button>
        </div>

    </div>