<form [formGroup]="form" (ngSubmit)="onSubmit()"
    class="mt-8 p-4 rounded-lg border border-gray-400 border-dotted  bg-white space-y-4">
    <h3 class="text-lg font-semibold text-gray-800">
        Agregar comentario
    </h3>
    <div>
        <input type="text" formControlName="name" CommentInput placeholder="Tu nombre" class="w-full px-4 py-2 border rounded-md" />
        @if (form.get('name')?.touched && form.get('name')?.invalid) {
        <p class="text-sm text-red-600 mt-1">
            {{getFormError(form.get('title'))}}
        </p>
        }
    </div>
    <div>
        <input type="email" formControlName="email" CommentInput placeholder="Email"
            class="w-full px-4 py-2 border rounded-md" />
        @if (form.get('email')?.touched && form.get('email')?.invalid) {
        <p class="text-sm text-red-600 mt-1">
            {{getFormError(form.get('email'))}}
        </p>
        }
    </div>
    <div>
        <textarea rows="3" formControlName="body" CommentInput placeholder="Escribe tu comentario..."
            class="w-full px-4 py-2 border rounded-md resize-none"></textarea>
        @if (form.get('body')?.touched && form.get('body')?.invalid) {
        <p class="text-sm text-red-600 mt-1">
            {{getFormError(form.get('body'))}}
        </p>
        }
    </div>
    <div class="flex justify-end gap-3 pt-2">
        <button type="submit" [disabled]="form.invalid || isSubmitting"
            class="px-5 py-2 rounded-md bg-green-200 font-semibold disabled:opacity-50 flex items-center gap-2">
            @if (isSubmitting) {
            <lucide-icon name="loader" size="16" class="animate-spin"></lucide-icon>
            Comentando...
            } @else {
            <lucide-icon name="send" size="16"></lucide-icon>
            Comentar
            }
        </button>
    </div>
    

</form>